In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\adead\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\adead\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adead\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adead\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adead\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\adead\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [4]:
df1 = pd.read_csv(r"C:\Users\adead\Downloads\products_wk9_thurs.csv")
df1.head()

,product_id,product_name,category,price,launch_date,brand
0,1,Wireless Bluetooth Headphones,Electronics,79.99,2021-03-15,AudioTech
1,2,Organic Cotton T-Shirt,Clothing,24.99,2021-04-20,EcoWear
2,3,Stainless Steel Water Bottle,Home & Garden,19.99,2021-05-10,HydroLife
3,4,Leather Crossbody Bag,Accessories,89.99,2021-06-01,StyleCraft
4,5,Yoga Mat Premium,Sports & Outdoors,34.99,2021-06-15,FitZone

In [5]:
df2 = pd.read_csv(r"C:\Users\adead\Downloads\customers_wk9_thurs.csv")
df2.head()

,customer_id,first_name,last_name,age,state,income,registration_date,email
0,1,John,Smith,34,CA,75000,2022-01-15,john.smith@email.com
1,2,Sarah,Johnson,28,NY,82000,2022-01-22,sarah.johnson@email.com
2,3,Michael,Brown,45,TX,95000,2022-02-03,michael.brown@email.com
3,4,Emily,Davis,31,FL,68000,2022-02-14,emily.davis@email.com
4,5,David,Wilson,52,IL,110000,2022-02-28,david.wilson@email.com

In [6]:
df3 = pd.read_csv(r"C:\Users\adead\Downloads\sales_wk9_thurs.csv")
df3.head()

,sale_id,customer_id,product_id,transaction_date,quantity,total_amount
0,1,1,1,2022-02-10 14:30:00,1,79.99
1,2,2,3,2022-02-15 10:15:00,2,39.98
2,3,3,5,2022-02-20 16:45:00,1,34.99
3,4,4,2,2022-02-25 11:20:00,3,74.97
4,5,5,4,2022-03-01 13:10:00,1,89.99

In [7]:
df1['launch_date'] = pd.to_datetime(df1['launch_date'])

In [8]:
df2['registration_date'] = pd.to_datetime(df2['registration_date'])

In [9]:
df3['transaction_date'] = pd.to_datetime(df3['transaction_date'])

In [11]:
df3['year'] = df3['transaction_date'].dt.year
df3['month'] = df3['transaction_date'].dt.month
df3['day_of_week'] = df3['transaction_date'].dt.day_name()

In [12]:
earliest_date = df3['transaction_date'].min()
latest_date = df3['transaction_date'].max()

In [13]:
df3[['transaction_date', 'year', 'month', 'day_of_week']].head()

     transaction_date  year  month day_of_week
0 2022-02-10 14:30:00  2022      2    Thursday
1 2022-02-15 10:15:00  2022      2     Tuesday
2 2022-02-20 16:45:00  2022      2      Sunday
3 2022-02-25 11:20:00  2022      2      Friday
4 2022-03-01 13:10:00  2022      3     Tuesday

In [14]:
print(f"Sales data starts on: {earliest_date}")
print(f"Sales data ends on: {latest_date}")

Sales data starts on: 2022-02-10 14:30:00
Sales data ends on: 2024-03-05 10:30:00

In [15]:
busiest_day = df3['day_of_week'].value_counts()
print("Transactions by Day of Week:")
print(busiest_day)

Transactions by Day of Week:
day_of_week
Friday       24
Tuesday      22
Thursday     21
Sunday       21
Saturday     21
Wednesday    21
Monday       20
Name: count, dtype: int64

In [17]:
busiest_month = df3['month'].value_counts()
print("\nTransactions by Month:")
print(busiest_month)

Transactions by Month:
month
2     16
3     14
12    14
4     12
5     12
6     12
8     12
7     12
9     12
10    12
11    12
1     10
Name: count, dtype: int64

In [18]:
sales_per_year = df3['year'].value_counts().sort_index()
print("\nTransactions per Year:")
print(sales_per_year)

Transactions per Year:
year
2022    65
2023    72
2024    13
Name: count, dtype: int64

In [19]:
avg_price_per_category = df1.groupby('category')['price'].mean()
print("Average Price per Category:")
print(avg_price_per_category)

Average Price per Category:
category
Accessories           35.073333
Clothing              52.240000
Electronics           59.990000
Home & Garden         30.156667
Sports & Outdoors    105.899091
Name: price, dtype: float64

In [20]:
products_per_category = df1['category'].value_counts()
print("\nProduct Count per Category:")
print(products_per_category)

Product Count per Category:
category
Electronics          13
Clothing             12
Home & Garden        12
Accessories          12
Sports & Outdoors    11
Name: count, dtype: int64

In [21]:
avg_age_state = df2.groupby('state')['age'].mean()
print("Average Age per State:")
print(avg_age_state)

Average Age per State:
state
CA    34.10
FL    39.00
IL    37.25
NY    36.50
TX    38.30
Name: age, dtype: float64

In [24]:
customer_sales = pd.merge(df3, df2, on='customer_id')

In [29]:
total_spending = customer_sales.groupby(['first_name', 'last_name'])['total_amount'].sum().sort_values(ascending=False)

print("Total Spending per Customer (Top 5):")
print(total_spending.head())

Total Spending per Customer (Top 5):
first_name  last_name
Daniel      Gonzalez     379.97
Matthew     Harris       359.96
Joseph      Evans        329.98
Janice      Gonzales     319.98
Kimberly    Baker        284.98
Name: total_amount, dtype: float64

In [26]:
print(customer_sales.columns)

Index(['sale_id', 'customer_id', 'product_id', 'transaction_date', 'quantity',
       'total_amount', 'year', 'month', 'day_of_week', 'first_name',
       'last_name', 'age', 'state', 'income', 'registration_date', 'email'],
      dtype='object')

In [30]:
purchase_counts = customer_sales.groupby(['first_name', 'last_name']).size().sort_values(ascending=False)

print("\nMost Frequent Shoppers (Top 5):")
print(purchase_counts.head())

Most Frequent Shoppers (Top 5):
first_name  last_name
Amanda      White        2
Amy         Nelson       2
Andrew      Lewis        2
Angela      Phillips     2
Anthony     Rogers       2
dtype: int64

In [31]:
revenue_by_month = customer_sales.groupby('month')['total_amount'].sum()
print("Total Revenue by Month:")
print(revenue_by_month)

Total Revenue by Month:
month
1      864.79
2     1669.66
3     1115.77
4      924.77
5     1177.79
6      986.68
7      930.80
8      870.74
9     1150.76
10    1235.80
11    1022.76
12    1458.71
Name: total_amount, dtype: float64

In [32]:
avg_trans_day = customer_sales.groupby('day_of_week')['total_amount'].mean()
print("\nAverage Transaction Amount by Day of Week:")
print(avg_trans_day)

Average Transaction Amount by Day of Week:
day_of_week
Friday       100.940833
Monday        90.927500
Saturday      61.121905
Sunday        99.551429
Thursday     102.267619
Tuesday       74.028636
Wednesday     96.071905
Name: total_amount, dtype: float64

In [33]:
sales_with_products = pd.merge(customer_sales, df1[['product_id', 'category']], on='product_id')

In [34]:
category_revenue = sales_with_products.groupby('category')['total_amount'].sum().sort_values(ascending=False)

print("\nTotal Revenue per Category:")
print(category_revenue)

Total Revenue per Category:
category
Sports & Outdoors    3544.64
Electronics          3524.29
Clothing             2745.39
Accessories          2053.25
Home & Garden        1541.46
Name: total_amount, dtype: float64

In [35]:
top_category = category_revenue.idxmax()
print(f"\nThe product category generating the most revenue is: {top_category}")

The product category generating the most revenue is: Sports & Outdoors

In [36]:
customers_per_state = df2['state'].value_counts()
print("Customers per State:")
print(customers_per_state)

Customers per State:
state
CA    20
NY    20
TX    20
FL    20
IL    20
Name: count, dtype: int64

In [37]:
top_state = customers_per_state.idxmax()
print(f"\nThe state with the most customers is: {top_state}")

The state with the most customers is: CA

In [38]:
top_5_spenders = customer_sales.groupby(['first_name', 'last_name'])['total_amount'].sum().sort_values(ascending=False).head(5)

print("Top 5 Customers by Total Spending:")
print(top_5_spenders)

Top 5 Customers by Total Spending:
first_name  last_name
Daniel      Gonzalez     379.97
Matthew     Harris       359.96
Joseph      Evans        329.98
Janice      Gonzales     319.98
Kimberly    Baker        284.98
Name: total_amount, dtype: float64

In [39]:
best_day = avg_trans_day.idxmax()
max_val = avg_trans_day.max()

print(f"The day with the highest average transaction value is {best_day} with an average of ${max_val:.2f}")

The day with the highest average transaction value is Thursday with an average of $102.27